nav {

  a {
    display: inline-block;
  }
  ul li ul:nth-of-type(1) a {
    margin-top: -4px;
  }

  font-family: $nav-font;
  font-weight: 300;
  width: 100%;
  position: fixed;
  top: 0;
  @include susy-breakpoint($md) {
    position: relative;
  }

  left: 0;
  z-index: 200;
  height: $nav-height;
  background-color: $nav-bg-color;
  display: block;
  ul {

    li#first-li-containing-selected-team-and-teams-ul {
      width: 120px;
      white-space: nowrap;

      ul {
        white-space: normal;
      }
    }

    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      z-index: 10;
      position: relative;
      a {
        line-height: $nav-height;
        height: $nav-height;
      }

      @include susy-breakpoint($md) {
        &:hover ul {
          display: inline;
        }
      }


      ul {  // one level
        padding: 0;
        margin: 0;

        a {
          line-height: $nav-height / 1.5;
          height: $nav-height / 1.5;
          width: 100%;
          font-size: 1.5em;
          background-color: transparent;

          li {
            background-color: $nav-bg-color;
            padding-left: 2em;
            width: 160%;
            height: 100%;
            text-align: left;
            margin-bottom: -4px;

            &:hover {
              background-color: rgba(240,240,240,0.95);
            }
          }

        }

      }

    }

  }

  // This is the dropdown ul for team select
  ul ul {
    position: absolute;
    left: -2em;
    top: 100%;
    display: none;
    background-color: transparent;
  }

  ul li ul {
    background-color: transparent;
  }


  img {
    display: inline;


    position: absolute;
    top: 6px;
    left: 2px;
    width: 4em;
    height: auto;

    @include susy-breakpoint($md) {
      display: none;

    }

  }
  ul:nth-of-type(1) {
    @include pre(2);
    @include span(8);
    @include susy-breakpoint($md) {
      @include pre(0);
      @include span(12);
    }
    text-align: center;
    li {

      box-sizing: border-box;
      vertical-align: middle;
      display: none;
      z-index: 300000;
      text-transform: uppercase;
      letter-spacing: $nav-letter-spacing / 2;
      @include susy-breakpoint($md) {
        display: inline-block;
        letter-spacing: $nav-letter-spacing;
        margin-right: 2.5em;
        font-size: 0.65em;
        &:last-of-type {
          margin-right: 0;
        }
      }


      @include susy-breakpoint($lg) {
        font-size: 0.65em;
        margin-right: 5%;
        letter-spacing: $nav-letter-spacing;
      }

      &:hover {
        cursor: pointer;
      }
      &:nth-of-type(1)  { // donate red
        display: inline-block;

      }
    }
  }
  ul:nth-of-type(2) {
    @include span(2);
    text-align: right;
    li:first-of-type { // hamburger
      position: relative;
      padding-right: 0.4em;
      line-height: $nav-height;
      @include susy-breakpoint($md) {
        display: none;
      }
    }
    li:hover {
      cursor: pointer;
    }
  }
}
