<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
      Please. just do your FAB.
    </p>
    <p>
      I need treats... cake treats... NEED `EM!
    </p>
    <p>
      Due 4 pm by Monday.
    </p>
    <p>
      <%= link_to "Update your fab", user_fabs_path(@user) %>
    </p>
  </body>
</html>
