<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
      What have you been up to this week?
    </p>
    <p>
      Click through and let us know:
    </p>
    <p>
      <%= link_to "Update your fab", user_fabs_url(@user) %>
    </p>
  </body>
</html>
