<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <% if @fab_state == :happy_fab_cake_time %>
      <pre>
        <%= render partial: "fab_cake" %>
      </pre>
    <% else %>
      <p>
        The following people failed to fill out their FAB this week.
      </p>

      <p>
        <ul>
          <% @failed_fab_users.each do |u| %>
            <li>
              <%= u.name %>
          <% end %>
        </ul>
      </p>
    <% end %>

    <p>
      We can do better.
    </p>

  </body>
</html>
