<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      The following people...... THESE PPEPLLL! They're why we can't have cupcakes!
    </p>

    <p>
      <ul>
        <% @failed_fab_users.each do |u| %>
          <li>
            <%= u.name %>
        <% end %>
      </ul>
    </p>

  </body>
</html>
