<% title = forward ? 'forward' : 'back' %>
<% time_span = @fab.send("display_#{title}_time_span") %>
<% notes = forward ? @fab.forward : @fab.backward %>
<% week_back_forward = forward ? "Next Week" : "Last Week" %>

<div class="fab-note-inputs">
  <h6><%= week_back_forward %></h6>

  <% notes.each do |x| %>
    <div class="nested-fields"</div>
      <%= f.fields_for(:notes, x) do |builder| %>
        <%= render 'note_fields', :f => builder, :x => x %>
      <% end %>
    </div>
  <% end %>
</div>
