<% time_span = fab.display_date_for_header %>

<div class="fab-notes">
  <h3><%= link_to time_span, [@user, fab] %> </h3>
  <% backward_or_placeholders(fab).each do |note| %>
    <%= note %>
    <br />
  <% end %>
</div>
