<% time_span = fab.display_date_for_header %>

<div>
  <h3><%= link_to time_span, [@user, fab] %> </h3>
  <% fab.backward.each do |note| %>
    <div class="fab-notes"><%= note.body %></div>
  <% end %>
</div>
