<% title = forward ? 'forward' : 'back' %>
<% time_span = @fab.send("display_#{title}_time_span") %>
<% notes = forward ? @fab.forward : @fab.backward %>
<% binding.pry %>
<div>
  <strong>Back</strong>
  (<%= time_span %>):
  <% notes.each do |note| %>
    <%= render 'note_content', :note => note %>
  <% end %>
</div>
