<% direction = forward ? 'forward' : 'back' %>

<div class="forward-back">
  <div class="headish">
    <strong> <%= direction.capitalize %> </strong>
    (<%= @fab.send("display_#{direction}_start_day") %>)
  </div>

  <% expose_notes(@fab, direction).each do |note| %>
    <div class="fab-notes"><%= note.body %><%= "&zwnj;".html_safe %></div>
  <% end %>
</div>
