<%= render "/layouts/navigation_links" %>

<%= render partial: '/users/user_details', locals: {user: @user}%>

<!-- Fab Entry -->
<%= render 'form' %>
<br>

<div class="fabs-back">
  <% @fabs.each do |fab| %>
    <div class="fab">
      <%= render partial: 'index_fab_back', locals: {fab: fab} %>
    </div>
  <% end %>
</div>
