<p id="notice"><%= notice %></p>

<h1>Listing Fabs</h1>

<div class="fabs">
  <% @fabs.each do |fab| %>
    <div class="fab">
      <%= render partial: 'index_fab_back', locals: {fab: fab} %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Fab', new_user_fab_path %>
