<h1>New Fab</h1>

<div class="fab-user">
  <%= render 'users/portrait', user: @fab.user %>
  <%= render 'form' %>

  <div class="user-actions">
    <%= link_to 'Back', user_fabs_path %>
  </div>
</div>
