<select>
   <option onclick="leetFilter.clearFilters();">All teams</option>
  <% Team.all.each do |team| %>
    <%= leet_filter_dropdown_option(team.name) %>
  <% end %>
</select>

<!-- onchange="leetFilter.filterAllBut(this);" -->