<a class="fab-backward-btn unselectable">&lt;</a>

<%= render partial: "fabs/fab_notes", locals: { fab: fab, retro: defined?(retro) && retro } %>

<a class="fab-forward-btn unselectable disabled">&gt;</a>
