<a class="fab-backward-btn unselectable">&lt;</a>
<div class="back">
  <h3>Back</h3>

  <%= render partial: "fabs/show_fab_notes_tribby",
        locals: { :forward => false } %>
</div>

<div class="forward">
  <h3>Forward</h3>
  <%= render partial: "fabs/show_fab_notes_tribby",
        locals: { :forward => true } %>
</div>

<a class="fab-forward-btn unselectable disabled">&gt;</a>
