  <a class="fab-backward-btn unselectable">&lt;</a>
  <a class="fab-forward-btn unselectable disabled">&gt;</a>

  <div class="clear"></div>

  <%= render partial: "fabs/show_fab_notes_tribby",
        locals: { :forward => false } %>

  <%= render partial: "fabs/show_fab_notes_tribby",
        locals: { :forward => true } %>
