<h2 class="team-name-header">
  <%= user.team_name %>
</h2>

<div class="user-details">


  <div class="profile-image">
    <img width="60" height="90" alt="" src="https://www.eff.org/files/styles/staff_thumb/public/hugh-mural-2.jpg?itok=jb9VYpSZ">
  </div>
  <div class="profile-name">
    <%= user.name %>
  </div>
  <div class="profile-title">
    <%= user.title %>
  </div>
  <div class="clear"></div>
</div>
