<div class="user-details">

  <div class="profile-image">
    <!--  FIXME:  I'm a stub and should use querying -->
    <%= image_tag user.avatar.url(:thumb) %>
    <!-- <img width="60" height="90" alt="" src="https://www.eff.org/files/styles/staff_thumb/public/hugh-mural-2.jpg?itok=jb9VYpSZ"> -->
  </div>
  <div class="profile-name">
    <%= link_to(user.name, user_fabs_path(user)) %>
  </div>
  <div class="profile-title">
    <%= user.title %>
  </div>

  <% if adminy? %>
    <div class="profile-edit">
      <%= link_to("Edit", edit_user_path(user)) %>
    </div>
  <% end %>

  <div class="clear"></div>
</div>
