<div class="user">

  <div>
    <%= render partial: '/users/user_details', locals: {user: user}%>

    <% @fab = user.fabs.last %>
    <% unless @fab.nil? %>
      <%= show_fab_notes forward: false %>
      <%= show_fab_notes forward: true %>
      <div class="clear"></div>
      <%# render 'fab_fields' %>
    <% end %>
  </div>

  <div class="clear"></div>
</div>
