<div class="user-details">

  <div class="profile-image">
    <%= image_tag user.avatar.url(:thumb) %>
  </div>
  <div class="profile-name">
    <%= link_to(user.name, user_fabs_path(user)) %>
  </div>
  <div class="profile-title">
    <%= user.title %>
  </div>

  <% if adminy? %>
    <div class="profile-edit">
      <%= link_to("Edit", edit_user_path(user)) %>
    </div>
  <% end %>

  <div class="clear"></div>
</div>
