<%= render "/users/picker" %>

<div class="row">
  <% @teams.each do |team| %>
    <% capsul_class_name = "team-group leet-filter-candidate #{string_to_class_name(team.name)}" %>
    <div class="<%= capsul_class_name %>">
      <h2 class="team-name-header"><%= team.name %></h2>
        <% team.users.each do |user| %>
          <%= render user %>
        <% end %>
    </div>
  <% end %>
</div>
