<div class="row">
  <% @teams.each do |team| %>
    <% capsul_class_name = "team-group leet-filter-candidate #{string_to_class_name(team.name)}" %>
    <div class="<%= capsul_class_name %>" data-filter-name="<%= team.name %>">
      <h2 class="team-name-header"><%= team.name %></h2>

      <% users = team.id.nil? ? Team.get_runners : team.users %>

      <% users.each do |user| %>
        <%= render user unless user.current_period_fab.nil? && team.id %>
      <% end %>

    </div>
  <% end %>


</div>
