<%= render "/layouts/navigation_links" %>

<div class="row">
  <% @teams.each do |team| %>
    <h2 class="team-name-header"><%= team.name %></h2>
      <% team.users.each do |user| %>
        <%= render user %>
      <% end %>
  <% end %>
</div>
