<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Team: <%= @user.team ? @user.team : "No Team"%></p>

<%= link_to 'Edit User', edit_user_path %>
