<p>
  This is a reminder to log your paid leave such as vacation, sick leave and floating holidays in BambooHR so payroll is up to date. If you did not take any paid leave this week, you don't need to do anything.
</p>

<p>
  You can access time-off requests at <a href="https://eff.bamboohr.com/home">https://eff.bamboohr.com/home</a>
</p>
