@import "config/variables";
@import "config/defaults";

@import "config/fonts";
@import "config/typography";

@import "widgets/nav/hamburger";
@import "widgets/nav/fixed";
@import "widgets/hero";
@import "widgets/modal";

@import "vendor/ionicons";

$link-color: rgba(78,116,139,1);

a {
  color: $link-color;
  &:visited {
    color: $link-color;
  }
  text-decoration: none;
}

div {
  text-align: center;
}

#logo { // logo
  z-index: 5;
  position: relative;
  display: none;
  width: 200px;
  margin-bottom: -100px;
  @include susy-breakpoint($md) {
    display: inline-block;
    margin-bottom: 0px;
    width: 90px;
    height: auto;
    margin-left: 2em;
    left: 0;
    top: 1em;
    position: absolute;
  }
}


#front {
  z-index: 5;
  @include container(70%);
  @include susy-breakpoint($md) {
    @include container(95%);
  }
  h1 {
    color: #fff;
    line-height: 1.25em;
    margin-top: 2em;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.25em;

    @include susy-breakpoint($md) {
      @include container(70%);
      margin-top: 1em;
    }


  }

  #title {
    position: relative;
    display: inline;
    width: 100%;
    @include susy-breakpoint($md) {
      width:75%;
      min-width: 75%;
    }
  }
}


#content {
  height: 100%;
  width: 100%;
  position: relative;
  @include container(95%);
  margin-top: 10px;
  background-color: $content-bg-color-mobile;
  @include susy-breakpoint($md) {
    background-color: $content-bg-color;
    margin-top: 30px;
  }

  section {
  }
}

// #container {
//   @include container(95%);
//   @include susy-breakpoint($md) {
//     @include container(70%);
//   }
// }
.fab-user {
  overflow-x: hidden;
  display: block;
  @include container(95%);
  @include susy-breakpoint($md) {
    @include container(70%);
  }
  background-color: $content-bg-color;
  padding-top: 2em;
  padding-bottom: 1.5em;
  //text-align: center;
  font-size: 24px;
  margin-bottom: 2em;
  figcaption {
    text-align: center;
    @include susy-breakpoint($md) {
      text-align: left;
      float: left;
    }
    hgroup {
      h1 {
        font-size: 1.2em;
        margin-top: 0.5em;

        font-family: 'Montserrat';
        font-weight: 600;
        @include susy-breakpoint($md) {
          font-size: 1.3em;
        }
        a {
          color: $link-color;
          text-decoration: none;
        }
      }
      h2 {
        font-family: 'Montserrat';
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.48em;
        margin-top: 0.25em;
        letter-spacing: 0.07em;
      }
    }
  }
  div.portrait {
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    @include susy-breakpoint($md) {
      margin-left: 60px;
      margin-right: 30px;
      float: left;
    }

  }

  div.back {
    clear: left;
    margin-left: 0;
    padding-right: 0;
    @include susy-breakpoint($md) {
      margin-left: 60px;
      padding-right: 55px !important;
    }
  }

  div.forward {
    margin-left: 0;
    padding-right: 0;
    @include susy-breakpoint($md) {
      margin-left: -60px;
      padding-right: 70px !important;
    }
  }


  div.back,div.forward {
    position: relative;

    h3 {
      font-family: 'Montserrat';
      font-size: 1.1em;
      font-weight: 400;
      padding: 0;
      margin: 1em 0 0;

    }

    h4 {
      color: #bbb;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-weight: 300;
    }


    text-align: center;
    @include span(12);
    @include susy-breakpoint($md) {
      @include span(6);
      text-align: left;
    }
  }

  // div.back {
  //   margin-top: 1em;
  // }
  ul {
    list-style-type: none;
    display:inline-block;
    text-align:left;
    font-family: 'Lato';
    font-weight: 300;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.15px;
    li {
      font-size: 0.6em;
      padding-left: 1em;
      padding-right: 0.8em;
      @include susy-breakpoint($md) {
        padding-left: 0;
        padding-right: 2em;
      }
      margin-top: 0.9em;
    }
  }
}

#container {
  margin-top: 20px;
}



.rotating-thing img {
  width: 100%;
}

.f-and-b-header {
  width: 60%;
  height: 60px;
  background: image-url('forward-text.svg') no-repeat top center;
  fill: black;

  margin-left: auto;
  margin-right: auto;
  display:block;
  background-size: contain;
}

.subheader {
}

.nav-container nav {
  text-align: center;
}

.team-name-header {
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 0.1em;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
  font-size: 1.8em;

  @include container(95%);
  @include susy-breakpoint($md) {
    @include container(70%);
  }
}

.user-details {
  color: $font-color-alt;

  .profile-image{
    float:left;
    margin-right: 5%;
  }

  .profile-name {
    color: $font-color-alt;
    font-weight: bold;
    font-size: $font-size-big;

    a {
      color: $font-color-alt;
      text-decoration: none;
    }

    a:hover {
      background-color: #eff;
    }
  }
}

.fab-notes {
  padding-bottom: 20px;
  padding-right: 10px;
}


// This media query allows us to change the presentation of the page depending
// on how wide the window is.
// STYLING COMMON TO BOTH TABLET AND DESKTOP
// @media (min-width: $narrow-width){
//   .fab-note-inputs {
//     float:left;
//     width:50%;
//     margin-right: 0%;
//     margin-top: 10px;
//   }

//   .fab-note-inputs:nth-child(2) div{
//     text-align: right;
//   }

//   .fab-note-inputs h6 {
//     margin: 4px 0 4px 0;
//     font-size: $font-size-nudge;
//   }

//   .fab-note-inputs:nth-child(2) h6 {
//     padding-left:3%;
//   }
// }


.nested-fields {
    text-align: center;
    @include susy-breakpoint($md) {
      text-align: left;
    }
    input {
      width: 95%;
      @include susy-breakpoint($md) {
        width: 75%;
      }
    }
}

// .fab-note-inputs {

//   // input {
//   //   width: 94%;
//   // }

//   // div {
//   //   padding-bottom: 1%;
//   // }
// }

.form-actions {
  text-align: center;

  input {
    margin-top: 2em;
    font-size: 0.55em;
    color: $link-color;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 0.06em;
    background-color: transparent;
    border: 1px solid $link-color;
    padding: 0.9em 2.5em 1em 2.5em;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: $link-color;
    }
  }
}



h3 a {
  color: $font-color-alt;
  text-decoration: none;

  &:visited { color: $font-color-alt; }

  &:hover {
    color: $link-color-hover;
    background-color: $link-bg-color-hover;
  }
}




.fab-backward-btn, .fab-forward-btn {
  font-family: Lato;
  font-weight: 300;
  position: absolute;
  margin-top: 115px;
  @include susy-breakpoint($md) {
    margin-top: 90px;
    font-size: 60px;
  }
  &:hover {
    cursor: pointer !important;
    opacity: 0.7;
  }
}

.fab-forward-btn {
  right: 10%;
}
.fab-backward-btn {
  left: 10%;
}

a.carouselBusy {
  // color: orange;
  color: #cfae74;
}

a.carouselShrink {
  font-size: 30px;
  margin-top: 112px;
}


.fabs-back {
  @include container(95%);
  @include susy-breakpoint($md) {
    @include container(70%);
  }
  background-color: $content-bg-color;
  margin-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 1.5em;

  .fab {
    h3 a {
      color: #bbb !important;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-weight: 300;
      letter-spacing: 0.03em;
      margin-bottom: 1em;
    }
    .fab-notes {
      font-family: 'Lato';
      font-weight: 300;
      letter-spacing: 0.15px;
    }
  }
}
// unless/until leetfilter works on individual fab pages
body#fabs-index {
  .fab-forward-btn,.fab-backward-btn {
    display: none !important;
  }
}

form#new_user {
  @include container(95%);
  @include susy-breakpoint($md) {
    @include container(70%);
  }
  background-color: $content-bg-color;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;

  input[type="submit"] {
    margin-top: 1em;
    font-size: 0.8em;
    color: $link-color;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 0.06em;
    background-color: transparent;
    border: 1px solid $link-color;
    padding: 0.9em 2.5em 1em 2.5em;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: $link-color;
    }
  }
}
