#######################
#   FAB Preferences   #
#######################

fab_starting_day: "Monday"
fab_due_time: "5:00pm"   # Minutes are ignored
time_zone: 'Pacific Time (US & Canada)'


#######################
# Typical Rails Stuff #
#######################

admin_name: John Doe
admin_email: 'user@example.com'
admin_password: 'password'

domain_name: 'fab.eff.org'
# run `rake secret` and paste that string below whilst uncommenting that line
# secret_key_base: '6769ed413561af4d707e6c6d3b7258a10f7d9429055b24e7a136f1ab99d3aa3789d769894c28250ad6764d5973e86c1aefc2d56487f4360b6ff77165231f100a'


########################
#        Mailer        #
########################

mail_server: 'smtp.example.com'
mail_port: '587'
mail_authentication: "login"
mail_enable_starttls_auto: 'true'
mail_user_name: ''
mail_password: ''


########################
#     File Storage     #
########################

storage: 'file' # either 's3' or 'file', if set to file, the below settings don't matter
amazon_access_key_id:
amazon_secret_access_key:
amazon_region: 'us-west-1' # this is part of the subdomain url to your bucket
amazon_bucket_name: 'eff-fab'

amazon_s3_host_name: # You can specify a domain covered by fastly for speed bonus + anonymity. or this will be determined from region and bucket.


########################
# Environment Specific #
########################

production_base: &production_base
  db_adapter: 'mysql2'
  db_encoding: 'utf8mb4'
  db_database: 'eff_fab_prod'
  db_username: 'eff_fab'
  db_password: ''
  db_host: '127.0.0.1'
  db_port: 3306

production:
  <<: *production_base
