body.modal {
	position: fixed;
	#modal {
		display: flex;
	}
}

#modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.95);
	z-index: 50000;
	overflow: hidden;

	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	a,ul {
		letter-spacing: 0.4em;
	}
	a {
		font-size: 1.5em;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 1em;
		&:last-of-type { // close
			margin-top: 2.5em;
		}
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
    li {
      @include susy-breakpoint($md) {
        @include span(6);
      }
      line-height: 3em;
      text-transform: uppercase;

    }
	}
}
