.tablesorter-materialize thead .tablesorter-header {
  background-position: 0.6rem 50%;
  padding: 4px 4px 4px 24px;
}

.tablesorter-materialize .tablesorter-filter-row input.tablesorter-filter,
.tablesorter-materialize .tablesorter-filter-row select.tablesorter-filter {
  width: 100%;
}

#where-user-list .tablesorter td,
#where-user-list .tablesorter th {
  min-width: 16rem;
}
