<div id="where-user-list">
  <h2>Where in the world is <%= link_to @user.name, user_path(@user) %>?</h2>

  <% if @wheres.empty? %>
    <div class='where-empty-state'><%= I18n.t('shruggie') %></div>
  <% else %>
    <table class="striped-table">
      <thead>
        <th>
          When?
          <br />
          <span class='description'>All times shown in PDT / PST.</span>
        </th>
        <th>Where?</th>
      </thead>
      <tbody>
        <% @wheres.each do |where| %>
          <tr>
            <td class="description"><%= time_since(where.sent_at) %></td>
            <td><%= where.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
