select {
  //appearance: none;
  display: block;
  height: 30px;
  color: #000;
  border: 1px solid #eee;
  background: #fff;
  outline: none;
  font-family: Montserrat, Helvetica;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
}
