select.clean-picker {
  float:left;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  display: block;
  height: 30px;
  color: #000;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fff;
  outline: none;
  font-family: Helvetica;
  font-size: 1.2em;
  // margin: 1em auto 0.8em auto;
  // text-align: center;
  padding: 0 1em;
}
select.clean-picker:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.clean-picker-submit {
  float:left;
}
