// Place all the styles related to the fabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$normal-font: Calibri, sans-serif;

// $normal-width: 980px;
$narrow-width: 740px;

// FIXME:  Ask vbrown how to sort out font sizes
$font-size-big: 15pt;
$font-color: #333;

// Not dry, per scaffolds.scss
$link-color: #f33;
$link-color-hover: #f00;
$link-bg-color-hover: #eff;


body {
  font-family: $normal-font;
}

// This media query allows us to change the presentation of the page depending
// on how wide the window is.
// STYLING COMMON TO BOTH TABLET AND DESKTOP
@media (min-width: $narrow-width){
  // Makes fabs float side by side when there's more room
  // on the screen
  .fab {
  	float: left;
  	width: 50%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.subheader {
}

.nav-container {
  // margin-left: auto;
  // margin-right: auto;
  // width: 90%;
}

.nav-container nav {
  text-align: center;
}


// FIXME: ask vbrown how she'd do this
.team-name {
  font-family: DINWeb-CondBold,​Arial,​sans-serif;
  font-weight: normal;
  line-height: 20px;
}

.profile-image{
  float:left;
  margin-right: 5%;
}

.profile-name {
  font-weight: bold;
  font-size: $font-size-big;
}


h3 a {
  color: $font-color;
  text-decoration: none;

  &:visited { color: $font-color; }

  &:hover {
    color: $link-color-hover;
    background-color: $link-bg-color-hover;
  }
}
