$narrow-width: 740px;

$container-width: 510px;

// Font
$font-size-normal: 13px;
$font-size-nudge: 14px;
$font-size-big: 20px;
$font-color-normal: #666666;
$font-color-alt: #000;
$font-family-normal: Calibri, sans-serif;
$font-family-alt: DINWeb-CondBold,​Arial,​sans-serif;

// Links
$link-color: #f33;
$link-color-hover: #f00;
$link-bg-color-hover: #eff;

$top-banner-color: #d9e2e8;
$fab-header-color: #808285;
