@font-face {
  font-family: "Crimson Text";
  src: url("fonts/CrimsonText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}