<p id="notice"><%= notice %></p>

<div class="rotating-thing">
  <%= image_tag "parker_dan_mohawk.jpg" %>
</div>

<div class="f-and-b-header"></div>

<div class="subheader">
  Where are your coworkers located on the time/space continuum, and what are they doing now?
</div>
