<nav><img src="<%= asset_path('EFF-logo-plain.svg') %>" type="image/svg+xml">
  <ul>
    <li>Team: <a>All teams</a>
      <ul>
        <li><a>Activism</a></li>
        <li><a>International</a></li>
        <li><a>Finance/HR</a></li>
        <li><a>Web Development</a></li>
        <li><a>Tech Projects</a></li>
        <li><a>Tech Ops</a></li>
        <li><a>Administer</a></li>
        <li><a>Other</a></li>
        <li><a>Executive</a></li>
        <li><a>Operations</a></li>
        <li><a>Press/Graphics</a></li>
      </ul>
    </li>
    <li><a>Another menu</a></li>
    <li><a>A third menu</a></li>
  </ul>
  <ul>
    <li id="hamburger"><i class="icon ion-navicon"></i></li>
  </ul>
</nav>
